<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title> Spider | Crawler </title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
        <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css">
        <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css">
    </head>
    <body class="container">
        <div id="app"></div>
        
        <!-- <script src="http://localhost:8080/app.js"></script> -->
        <script src="/static/dist/static/js/manifest.0d599cd9fb48db3bef51.js"></script>
        <script src="/static/dist/static/js/vendor.4468be6d7d01554af016.js"></script>
        <script src="/static/dist/static/js/app.0213530929692fdad0e0.js"></script>
    </body>
</html>